include README.md
include LICENSE
include requirements.txt
include tox.ini
include pyinstaller.spec
include .gitignore

recursive-include tests *.py

include docs/_config.yml
recursive-include docs *.md

recursive-include comet_pqc/assets/config/chuck *.yaml
recursive-include comet_pqc/assets/config/sample *.yaml
recursive-include comet_pqc/assets/config/sequence *.yaml

recursive-include comet_pqc/assets/icons *.svg *.ico

include comet_pqc/assets/schema/chuck.yaml
include comet_pqc/assets/schema/sample.yaml
include comet_pqc/assets/schema/sequence.yaml

# TODO
include emulators.yaml
include dummy.qutie
include .gitignore
recursive-include .git *
recursive-include .github *.yml
