include README.md
include LICENSE
include changelog
include requirements.txt
include tox.ini
include windows_app.spec
recursive-include tests *.py

include docs/_config.yml
recursive-include docs *.md *.png

recursive-include pqc/assets/config/chuck *.yaml
recursive-include pqc/assets/config/sample *.yaml
recursive-include pqc/assets/config/sequence *.yaml

recursive-include pqc/assets/icons *.svg *.ico

include pqc/assets/schema/chuck.yaml
include pqc/assets/schema/sample.yaml
include pqc/assets/schema/sequence.yaml
