comet @ git+https://github.com/hephy-dd/comet.git@0.13.2
analysis-pqc @ git+https://github.com/hephy-dd/analysis-pqc.git@0.7.1
PyQt5==5.15.*
PyQtChart==5.15.*
PyYAML==6.0.*
jsonschema==3.2.*
bottle==0.12.*
waitress==2.1.*
