comet @ https://github.com/hephy-dd/comet/archive/0.11.2.zip#egg=comet-0.11.2
analysis-pqc @ https://github.com/hephy-dd/analysis-pqc/archive/0.1.2.zip#egg=analysis-pqc-0.1.2
QCharted>=1.1.2
qutie>=1.5.2
pyyaml
jsonschema
